body {
    font-family: sans-serif;
    font-size: 15px;
    margin: 0;
}

form {
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 500px;
    margin: 50px auto 0;
}

label.Error {
    position: relative;
    text-align: left;
}

h2 {
    margin: 0 0 50px 0;
    padding: 10px;
    text-align: left;
    font-family: sans-serif;
    font-size: 30px;
    color: darken(#e5e5e5, 50%);
    border-bottom: solid 1px #e5e5e5;
}

h1 {
    margin: 0 0 50px 0;
    padding: 10px;
    text-align: left;
    font-family: sans-serif;
    font-size: 45px;
    color: darken(#e5e5e5, 50%);
    border-bottom: solid 1px #e5e5e5;
    text-shadow: 2px;
}

p {
    margin: 0 0 3em 0;
    position: relative;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin: 0;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.1em;
    line-height: 1.6em;
    padding: .5em .5em;
    border-radius: 2px;
}

input[type="submit"] {
    background: green;
    border-radius: 65px;
    border: 2px solid rgb(23, 2, 100);
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1em;
    margin: 1em 0 0;
    outline: none;
    padding: .8em 0;
    text-shadow: 0 1px;
}

input[type="submit"]:hover {
    background-color: rgb(23, 11, 90);
    color: rgb(255, 255, 255);
}

label {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
}

label.floatLabel {
    top: -11px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

a.spButtons {
    background: green;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.7em;
    width: 150px;
    margin: 1em 0 0;
    outline: none;
    padding: .8em 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.5s;
}

.spButtons:hover {
    background-color: rgb(23, 11, 90);
    color: rgb(255, 255, 255);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 5px;
}

.c1 {
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.spButtonsContainer {
    position: absolute;
    height: 200px;
    width: 900px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}

.mainTop {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 1000px;
    background-color: blue;
}

.desktop_view {
    background-image: url('../style/img/rysunek.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.rate {
    float: left;
    height: 180px;
    padding: 0 10px;
}

.rate>label {
    position: relative;
    padding: 0;
    font-size: 96px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: rgb(156, 155, 189);
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #200766;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #200766;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #200766;
}